<div class="news-list">
  <div
    class="news-item"
    *ngFor="let news of newsList"
    (click)="navigateToNewsItem(news.ID)"
  >
    <div class="news-image">
      <img [src]="news.image || defaultImagePath" alt="News Image" />
    </div>
    <div class="news-content">
      <h2 class="news-title">{{ news.title }}</h2>
      <div class="news-meta">
        <span class="news-date">{{ news.date | date : "dd.MM.yyyy" }}</span>
        <span class="news-views">
          <i class="far fa-eye"></i> {{ news.viewCount }}
        </span>
        <span class="news-comments">
          <i class="far fa-comment"></i> {{ news.commentsCount }}
        </span>
      </div>
      <div class="news-tags">
        <span *ngFor="let tag of news.tags" class="tag-link">{{
          tag.title
        }}</span>
      </div>
      <p class="news-description">{{ news.description }}</p>
      <a class="read-more" [href]="news.link">Read More</a>
    </div>
  </div>
</div>

<div class="container">
  <h1>Додати новину</h1>
  <app-add-news></app-add-news>
</div>
