<div class="news-list">
  <div
    class="news-item"
    *ngFor="let news of newsList"
    (click)="navigateToNewsItem(news.ID)"
  >
    <div class="news-image">
      <img [src]="news.image || defaultImagePath" alt="News Image" />
    </div>
    <div class="news-content">
      <div class="news-meta">
        <span class="news-date"
          ><i class="far fa-calendar"></i> {{ news.date | date : "dd.MM.yyyy" }}
        </span>
        <span class="news-views">
          <i class="far fa-eye"></i> {{ news.viewCount }}
        </span>
        <span class="news-comments">
          <i class="far fa-comment"></i> {{ news.commentsCount }}
        </span>
      </div>
      <h3 class="news-title">{{ news.title }}</h3>
      <div class="news-tags">
        <span *ngFor="let tag of news.tags" class="tag-link">{{
          tag.title
        }}</span>
      </div>
    </div>
  </div>
</div>

<div class="add-news-form">
  <app-add-news></app-add-news>
</div>
